
/* remove basic styling of browser */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* pre design just something to work on so it is not boring */
body {
background-image: linear-gradient(120deg, #c1f3c9, #7fecec);
color: white;
font-family: 'Poppins', sans-serif;
min-height: 100vh;
}

header {
    font-size: 3rem;
}

header, form {

    margin-top: 40px;
    padding: 30px;
    display: flex;
    justify-content: left;
    align-items: center;

}

form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;


}

form button {
    color:  #029999;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;

}

form button:hover {
    background:  #029999;
    color: white;

}

.todo-container {
    display: flex;
    justify-content: left;
    align-items: left;
    padding: 30px;
    
}

.todo-list {
    min-width: 30%;
    list-style: none;

}

.todo {
margin: 0.5rem;
background: white;
color: black;
font-size: 1.5rem;
display: flex;
justify-content: space-between;
align-items: left;
transition: all 0.5s ease;

}

.todo li {
    flex: 1;
}

.trash-btn, .complete-btn {
    background:  #026868;
    color: rgb(248, 239, 239);
    border: none;
    padding: 5px;
    cursor: pointer;
    font-size: 1rem;

}

.complete-btn {
    background: #058888;
}

.todo-item {
    padding: 0rem 0.5rem;
}

/* emphasizing to not click on the check and trash */
.fa-trash, .fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select {
    appearance: none;
    outline: none;
    border: none;

} 

.select {
    margin-left: 5px;
    position: relative;
    overflow: hidden;
}

select {
    color: #026868;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;

}

.select::after{
content: ' \25BC';
position: absolute;
background:  #029999;
top: 0;
right: 0;
padding: 1rem;
pointer-events: none;
border: none;
outline: none;
transition: all 0.3s ease;
}

.select:hover::after {
    background: white;
    color:  #029999;
}