
html, body { height: 100%; }
body {
  background:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%);
  overflow: hidden;
}

.ocean { 
  height: 5%;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #015871;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}



header {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    color: white;
    
}

header, form {

    margin-top: 40px;
    /* padding: 30px; */
    display: flex;
    justify-content: left;
    align-items: center;

}

form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;


}

form button {
    color:  #029999;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;

}

form button:hover {
    background:  #029999;
    color: white;

}

.todo-container {
    display: flex;
    justify-content: left;
    align-items: left;
    padding: 30px;
    font-family: 'Poppins', sans-serif;
    
}

.todo-list {
    min-width: 30%;
    list-style: none;

}

.todo {
margin: 0.5rem;
background: white;
color: black;
font-size: 1.5rem;
display: flex;
justify-content: space-between;
align-items: left;
transition: all 0.5s ease;

}

.todo li {
    flex: 1;
}

.trash-btn, .complete-btn {
    background:  #026868;
    color: rgb(248, 239, 239);
    border: none;
    padding: 5px;
    cursor: pointer;
    font-size: 1rem;

}

.complete-btn {
    background: #058888;
}

.todo-item {
    padding: 0rem 0.5rem;
}

/* emphasizing to not click on the check and trash */
.fa-trash, .fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select {
    appearance: none;
    outline: none;
    border: none;

} 

.select {
    margin-left: 5px;
    position: relative;
    overflow: hidden;
}

select {
    color: #026868;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;

}


.select:hover::after {
    background: white;
    color:  #029999;
}

/* trivia */

.qoute-trivia {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
   
    color:rgb(141, 136, 136);
    align-items: right;
    margin-bottom: 20vh;
    margin-top: 0%;
   


}


.random-facts {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
 
    color:rgb(80, 11, 11)
}

@keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }
  
  @keyframes swell {
    0%, 100% {
      transform: translate3d(0,-25px,0);
    }
    50% {
      transform: translate3d(0,5px,0);
    }
}
